.container
  .section
    %h1 Kontakt
    %p
      E-Mail: #{image_tag('mail.png', height: 16)}
      %br
      Facebook: N/A

  .section
    %h1 Newsletter
    %p Melde dich zu unserem #{link_to_newsletter} an und erhalte in regelmäßigen Abständen Neuigkeiten von uns.
