.container
  .logo
    = image_tag 'augsburger_warenhandlung.jpg', class: 'logo--image img-fluid'
    %h1.logo--header Augsburger Warenhandlung

  .text-center
    = link_to_newsletter(title: 'Zum Newsletter anmelden', html_options: {class: 'btn btn-info'})

  .section
    %p Wir sind eine Gruppe von Menschen und wollen eine Foodcoop in Augsburg gründen.


  .section
    %h2 Eine Foodcoop - was ist das?
    %p
      Unter einer Foodcoop (vom englischen food cooperative, also etwa Lebensmittelgemeinschaft) versteht man den Zusammenschluss von Personen und Haushalten zum gemeinsamen Einkaufen.
      Die Idee dahinter ist, dass man gemeinsam große Mengen Lebensmittel direkt von den Erzeugern bezieht und dadurch Mindestbestellmengen der Großhändler erreicht bzw. es sich für Bauern lohnt mitten in die Stadt zu fahren.
      Dadurch kann man als Mitglied einer Foodcoop meist preiswerter - weil ohne die Kosten des Einzelhandels wie bezahlte Löhne, teures Ladenlokal, attraktive Ladeneinrichtung - einkaufen, als wenn man im Einzelhandel kauft.
      Die Foodcoops funktionieren in der Regel mittels unbezahlter verteilter Arbeit und kollektiver Verwaltung.
      Die Vereinzelung des Verbrauchers wird aufgehoben und Konsumenten mit ähnlichem Lebensstil kommen zusammen.
  .section
    %h2 Was wollen wir?
    %p
      Wir wollen ökologisch und fair produzierte Lebensmittel gemeinsam über die Foodcoop beziehen, wenn möglich direkt bei lokalen Händler*innen oder Bäuer*innen.
      Dadurch sind die Lebensmittel günstiger und auch Leute, die sich Bio-Lebensmittel normalerweise nicht leisten können, können sich diese kaufen.
    %p
      Der direkte, persönliche Kontakt mit den Erzeugern ist ein weiterer Pluspunkt.
      Wir können dadurch Einblicke in Anbau- bzw. Herstellungsbedingungen unserer Lebensmittel gewinnen und den Erzeugern unser Entgegenkommen anbieten - z.B. indem wir Obst und Gemüse abnehmen, das zwar optisch nicht einwandfrei (und damit auf dem Markt unverkäuflich), aber trotzdem qualitativ hochwertig ist.
    %p
      Wir haben viele Ideen - von einer Foodcoop für eine kleine Gruppe von Menschen und einem kleinen aber feinen Sortiment bis hin zu Foodcoops in der ganzen Stadt, bei denen es alles zu kaufen gibt, was man für den täglichen Bedarf braucht: alles ist möglich!
    %p
      Am Ende kommt es aber auf jede*n Einzelne*n an. Auf die jeweiligen Vorstellungen und Vorlieben, aber auch darauf, wie viel Zeit und Kapazitäten jede*r in die Foodcoop stecken kann. Wir wollen uns demokratisch organisieren und die Foodcoop gemeinsam gestalten.
  .section
    %h2 Was wollen wir?
    %p
      Dann schreibe uns an info@augsburger-warenhandlung.de, komme zu einem Treffen oder trage dich in den Newsletter ein.
      Wir freuen uns auf neue Gesichter!

  .text-center
    = link_to_newsletter(title: 'Zum Newsletter anmelden', html_options: {class: 'btn btn-info'})
