.container
  .logo
    = image_tag 'augsburger_warenhandlung.jpg', class: 'logo--image img-fluid'
    %h1.logo--header Augsburger Warenhandlung

  .text-center
    = link_to_newsletter(title: 'Zum Newsletter anmelden', html_options: {class: 'btn btn-lg btn-info'})

  .section
    %h2 Wer wir sind und was wir wollen
    %p
      Wir sind eine Gruppe, die ein Foodcoop in Augsburg gr端nden wollen.
  .section
    %h2 Unterst端tze uns
    %p
      F端r die Umsetzung des Augsburger Warenhandlung Hausprojekts brauchen wir Unterst端tzung. Unser Projekt kann nur durch die Initiative vieler Menschen verwirklicht werden!
